.affix {
      top: 0;
      width: 100%;
  }

nav {
    z-index: 1;
}

body {
    position: relative;
}

#section1 {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    color: #fff;
    background-color: #1E88E5;
}

#section2 {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    color: #fff;
    background-color: #673ab7;
}

#section3 {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    color: #fff;
    background-color: #ff9800;
}

#section41 {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    color: #fff;
    background-color: #00bcd4;
}

#section42 {
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    color: #fff;
    background-color: #009688;
}

.navbar-default {
  background-color: #050876;
  border-color: #0a8181;
}
.navbar-default .navbar-brand {
  color: #9fdbea;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #9fdbea;
}
.navbar-default .navbar-nav > li > a {
  color: #9fdbea;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #0a8181;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #0a8181;
}
.navbar-default .navbar-toggle {
  border-color: #0a8181;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #0a8181;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #9fdbea;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #9fdbea;
}
.navbar-default .navbar-link {
  color: #9fdbea;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #9fdbea;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #0a8181;
  }
}


h4 {
    color: black;
    
}

input {
    color: black;
}

.jumbotron p {
    color: black;
    text-align: center;
}

.jumbotron h2 {
    color: black;
    text-align: center;
    
}

.jumbotron {
    float: none; 
    margin: 0 auto;
}

label {
  color: black;
}

.carousel img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
  max-width: none;
}

#rulesList {
  color: black;
}

#myEmail {
    color: white;
}

.well {
    color: black;
}